<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Welcome to 99 Cats</h3>

    <div>
      Hi, <%= @user.username %>!
    </div>

    <p>Thanks for signing up for 99 cats</p>
  </body>
</html>
